<h2 class="form-{{formName}}__caption">{{titleForm}}</h2>
<fieldset class="form-{{formName}}__inputs">
    {{{labelEmail}}}
        {{{inputEmail}}}
        <div class="error-message">
            латиница, может
            включать цифры и спецсимволы вроде дефиса,
            обязательно должна быть «собака» (@) и точка
            после неё, но перед точкой обязательно должны
            быть буквы
        </div>
    {{{labelLogin}}}
        {{{inputLogin}}}
    {{{labelFirstName}}}
        {{{inputFirstName}}}
    {{{labelSecondName}}}
        {{{inputSecondName}}}
    {{{labelChatName}}}
        {{{inputChatName}}}
    {{{labelPhone}}}
        {{{inputPhone}}}
    {{{labelPassword}}}
        {{{inputPassword}}}
    {{{labelPasswordAgain}}}
     {{{inputPasswordAgain}}}
</fieldset>
<fieldset class="form-{{formName}}__buttons">
        {{{button}}}
        {{{buttonFixPass}}}
    <a class="form-{{formName}}__link" href={{hrefForm}}>{{linkName}}</a>
</fieldset>
