<div class="wrapper-chat">
    <div class="sear-form">
        <div class="content-sear">
            <div class="setings-search">
                <input class="sear-input" type="text">
                <button class="btn-cancel">Отменить</button>
            </div>
            <div class="sear-res">
                {{{resultSearch}}}
            </div>
        </div>
    </div>
    <div class = 'add-chat-modal'>
        <div class="wrapper-madal">
            <div class="content-modal">
                <input class= 'title-chat' type="text" placeholder="Название чата">
                <button class="add-chat">OK</button>
                <button class="btn-cancel-chat">Отменить</button>

            </div>
        </div>
    </div>
    <div class="chat-list">
        <div class="chat-list__settings">
            {{{addChatBtn}}}
            {{{removeChatBtn}}}
            {{{linkSetings}}}
        </div>
        <div class="chat-list__wrapper">
            <ul class="chat-list__users">
            {{#each chatList}}
                {{{this}}}
            {{/each}}
            </ul>
        </div>
    </div>
    <div class="chat-messages">
        <div class="chat-messages__wrapper">
            <div class="chat-messages__caption">
                <div class="chat-messages__menu">
                {{{addUserBtn}}}
                {{{removeUserBtn}}}
                </div>
            </div>
            <div class="chat-messages__messages">
                {{#each chatMassages}}
                    {{{this}}}
                {{/each}}
            </div>
            <div class="chat-messages__wrapper-form">
                <form action="#" method="post" class="chat-messages__form form-chat">
                    <input class ="form-chat__img-menu" name="img-menu" type="image" src="./img/paperclip_chat.png">
                    <input class ="form-chat__mess" name="message" type="text" placeholder="сообщение">
                    <div data-name = 'message' class="error-message">
                        не должно быть пустым
                    </div>
                    <input class ="form-chat__sub" name="sub" type="submit" value="Отправить">
                </form>
            </div>
        </div>
    </div>
</div>
