<fieldset class="form-{{formName}}__inputs">
    {{{labelPassword}}}
    {{{inputPassword}}}
    <div data-name = 'password' class="error-message">
        Может быть от 8 до 40 символов, обязательно хотя бы одна заглавная буква и цифра.
    </div>
    {{{labelNewPassword}}}
    {{{inputNewPassword}}}
    <div data-name = 'newPassword' class="error-message">
        Может быть от 8 до 40 символов, обязательно хотя бы одна заглавная буква и цифра.
    </div>
    {{{changePasswordBtn}}}
</fieldset>
